{% extends "index.html" %}

{% block report_block %}
<div class="displayBox">
    <h3>Customer(s)</h3>
    <div class="tableBox">
        <table>
            <tr>
                <th>CusId</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            {% for customer in customers %}
            <tr>
                <td rowspan="2">{{customer.customerId}}</td>
                <td rowspan="2">{{customer.fname}} {{customer.lname}}</td>
                <td rowspan="2">{{customer.email}}</td>
                <td rowspan="2">{{customer.house}}, {{customer.street}}, 
                    {{customer.city}}, {{customer.state}}, {{customer.country}}</td>
                <tr>
                    <td><a class="updateBtn" href="/store/update_customer/{{customer.customerId}}/">Update</a></td>
                    <td><a class="deleteBtn" href="/store/delete_customer/{{customer.customerId}}/">Delete</a></td>
                </tr>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="display:flex; flex-direction:row;">
        <h3>Contact(s)</h3>
        <a class="manageBtn" href="/store/add_contact/">Add Contact</a>
    </div>
    <div class="tableBox">
        <table>
            <tr>
                <th>CusId</th>
                <th>Phone</th>
            </tr>
            {% for cus_phone in customer_phone %}
            <tr>
                <td rowspan="2">{{cus_phone.customer}}</td>
                <td rowspan="2">{{cus_phone.phone}}</td>
            </tr>
            <tr>
                <td><a class="updateBtn" href="/store/update_contact/{{cus_phone.phone}}/">Update</a></td>
                <td><a class="deleteBtn" href="/store/delete_contact/{{cus_phone.phone}}/">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="curdBox">
    <a class="manageBtn" href="/store/create_customer/">Create Customer</a>
    <div class="searchBox">
        <form class="column_form" method="post" action="/store/customer/">
            {% csrf_token %}
            <label>Search By</label>
            
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}

            <select name="search_by" id="query">
                <option value="customer_id">customer id</option>
                <option value="fname">fname</option>
                <option value="lname">Lname</option>
                <option value="email">email</option>
                <option value="city">city</option>
                <option value="state">state</option>
            </select>

            <input name="search_value" placeholder="search...">
            <button name="search_query">Search</button>
            <button name="reset">Reset</button>
        </form>
    </div>
    <div class="sortBox">
        <form class="column_form" method="post" action="/store/customer/">
            {% csrf_token %}
            <label>Sort By</label>
            <select name="sort_by" id="query">
                <option value="ascending">a to z</option>
                <option value="desending">z to a</option>
            </select>
            <button name="name_sort">Name</button>
            <button name="id_sort">customer id</button>
        </form>
    </div>
</div>

{% endblock report_block %}