{% extends "index.html" %}

{% block report_block %}
<div class="displayBox">
    <h3>Order(s)</h3>
    <div class="tableBox">
        <table>
            <tr>
                <th>Order Id</th>
                <th>Status</th>
                <th>Order Date</th>
                <th>Payment Type</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td rowspan="2">{{order.orderId}}</td>
                <td rowspan="2">{{order.status}}</td>
                <td rowspan="2">{{order.orderDate}}</td>
                <td rowspan="2">{{order.paymentType}}</td>
                <tr>
                    <td><a class="updateBtn" href="/store/update_order/{{order.orderId}}/">Update</a></td>
                    <td><a class="deleteBtn" href="/store/delete_order/{{order.orderId}}/">Delete</a></td>
                </tr> 
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="display:flex; flex-direction:row;">
        <h3>Product(s)</h3>
        <a class="manageBtn" href="/store/add_orderproduct/">Add Product</a>
    </div>
    <div class="tableBox">
        <table>
            <tr>
                <th>Order Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for ord in order_product %}
            <tr>
                <td rowspan="2">{{ord.order}}</td>
                <td rowspan="2">{{ord.product}}</td>
                <td rowspan="2">{{ord.quantity}}</td>
                <td rowspan="2">{{ord.price}}</td>
                <tr>
                    <td><a class="updateBtn" href="/store/update_orderproduct/{{ord.order}}/{{ord.product.prodId}}/">Update</a></td>
                    <td><a class="deleteBtn" href="/store/delete_orderproduct/{{ord.order}}/{{ord.product.prodId}}/">Delete</a></td>
                </tr>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="curdBox">
    <a class="manageBtn" href="/store/create_order/">Manage</a>
    <div class="searchBox">
        <form class="column_form" method="post" action="/store/order/">
            {% csrf_token %}
            <label>Search By</label>
            
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}

            <select name="search_by" id="query">
                <option value="order_id">order id</option>
                <option value="status">status</option>
                <option value="payment_type">payment type</option>
            </select>

            <input name="search_value" placeholder="search...">
            <button name="search_query">Search</button>
            <button name="reset">Reset</button>
        </form>
    </div>
    <div class="sortBox">
        <form class="column_form" method="post" action="/store/order/">
            {% csrf_token %}
            <label>Sort By</label>
            <select name="sort_by" id="query">
                <option value="ascending">a to z</option>
                <option value="desending">z to a</option>
            </select>
            <button name="name_sort">Name</button>
            <button name="id_sort">order id</button>
        </form>
    </div>
</div>

{% endblock report_block %}