{% extends "index.html" %}

{% block report_block %}
<div class="displayBox">
    <h3>Order(s)</h3>
    <div class="tableBox">
        <table>
            <tr>
                <th>Order Id</th>
                <th>Status</th>
                <th>Order Date</th>
                <th>Payment Type</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{order.orderId}}</td>
                <td>{{order.status}}</td>
                <td>{{order.orderDate}}</td>
                <td>{{order.paymentType}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h3>Contact(s)</h3>
    <div class="tableBox">
        <table>
            <tr>
                <th>Order Id</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for ord in order_product %}
            <tr>
                <td>{{ord.order}}</td>
                <td>{{ord.product}}</td>
                <td>{{ord.quantity}}</td>
                <td>{{ord.price}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="curdBox">
    <a class="manageBtn">Manage</a>
    <div class="searchBox">
        <form class="column_form" method="post" action="/store/order/">
            {% csrf_token %}
            <label>Search By</label>
            <select name="search_by" id="query">
                <option value="order_id">order id</option>
                <option value="status">status</option>
                <option value="payment_type">payment type</option>
            </select>

            <input name="search_value" placeholder="search...">
            <button name="search_query">Search</button>
            <button name="reset">Reset</button>
        </form>
    </div>
    <div class="sortBox">
        <form class="column_form" method="post" action="/store/order/">
            {% csrf_token %}
            <label>Sort By</label>
            <select name="sort_by" id="query">
                <option value="ascending">a to z</option>
                <option value="desending">z to a</option>
            </select>
            <button name="name_sort">Name</button>
            <button name="id_sort">order id</button>
        </form>
    </div>
</div>

{% endblock report_block %}