{% extends "authLayout.html" %}
{%block auth_block%}
    <div class="authBlock">
        <h1>Login</h1>
        {% for message in messages %}
        {{message}}
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">login</button>
        </form>
        <p class="option">forgot password <a href="/account/resetpassword/">reset</a></p>
        <p class="option">don't have account <a href="/account/signup/">signup</a></p>
    </div>
{% endblock %}